<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Onliner" parallel="tests" thread-count="1">
    <test name="test">
        <parameter name="currency" value="USD"></parameter>
        <parameter name="COST_FIELD_XPATH" value="100000"></parameter>
        <classes>
            <class name = "utils.OnlinerTest"/>
            <class name = "onliner.tests.NavigationTest"/>
            <class name = "onliner.tests.FiltrationAuto"/>
        </classes>
    </test>
</suite>